<aside>
    <nav id="menu">
        <ul>
            <li><p>Principal</p></li>
            <li><a href=""><i class="far fa-chart-bar"></i>Indicadores</a></li>
            <li><a href="/leitos/{{ aside.idhospital  }}/{{ aside.idUti }}"><i class="fas fa-columns"></i>Painel Principal</a></li>
            <li><a href="/condutas/leitos/{{ aside.idhospital  }}"><i class="fas fa-tasks"></i>Plano de Condutas</a></li>
            <li><p>Cadastros</p></li>
            <li><a href=""><i class="far fa-user-circle"></i>Pacientes</a></li>
            <li><a href="/hospital/list"><i class="far fa-hospital"></i>Hospitais</a></li>
            <li><a href="/hospital/{{ aside.idhospital }}/list/uti"><i class="fas fa-notes-medical"></i>UTI's</a></li>
            <li><p>Sistema</p></li>
            <li><a href=""><i class="far fa-address-card"></i>Usuários</a></li>
            <li><a href="/config#config-diag"><i class="fas fa-cog"></i>Configurações</a></li>
        </ul>
    </nav>
</aside>