<!-- INICIO DO POPUP -->
<section class="wdw-over" id="conduct-popup" style="display: none;">
    <div class="wdw">
        <!-- TOPO DO POPUP -->
        <div class="wdw-top">
            <p id="conduct-title">Leito 5 - Plano de Hoje</p>
            <a href="#" onclick="popupPlano(false)"><i class="fas fa-times"></i></a>
        </div>
        <div class="wdw-content">
            <!-- CONTEUDO DO POPUP -->

            <div id="popup-content">
                <section>
                    <input type="checkbox" id="t-check1" name="c-check" hidden>
                    <label for="t-check1" class="bt-expand">Condutas pendentes <i class="fas fa-angle-down"></i></label>
                    <ul class="content-check" id="open-conducts">
                        
                    </ul>
                </section>
                <section>
                    <input type="checkbox" id="t-check2" name="c-check" hidden>
                    <label for="t-check2" class="bt-expand">Condutas concluídas <i class="fas fa-angle-down"></i></label>
                    <ul class="content-check" id="closed-conducts">
                      
                    </ul>
                </section>
            

            <!-- FIM DO CONTEUDO DO POPUP -->

            <!-- BASE DO POPUP -->
        </div>
    </div>
</section>
