<!DOCTYPE html>
<html>
<head>
	<title>BACK OFFICE</title>
</head>
<body>

<h1>BACK OFFICE</h1>
<p>_________ ------ _________ ------ _________ ------</p>

<div>

	<h2>User Create</h2>
	<form>
		
	<label>Nome</label>
	<input type="text" name="username" id="username">

	<label>Password</label>
	<input type="password" name="password" id="password">

	</form>


</div>
<br><br><br>

	<h2>Hospital Create</h2>

	<div class="wdw-content">
            <div class="row">
                <div class="col-6">
                    <label>Nome</label>
                    <input type="text" id="name" name="name" value="">
                </div>
                <div class="col-6">
                    <label>Telefone</label>
                    <input type="text" id="tel" name="tel">
                </div>
                <div class="col-6">
                    <label>Estado</label>
                    <input type="text" id="country" name="country">
                </div>
                <div class="col-6">
                    <label>Cidade</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="col-6">
                    <label>Bairro</label>
                    <input type="text" id="district" name="district">
                </div>
                <div class="col-6">
                    <label>Logradouro</label>
                    <input type="text" id="logradouro" name="logradouro">
                </div>
                <div class="col-6">
                    <label>Número</label>
                    <input type="text" id="number" name="number">
                </div>
                <div class="col-6">
                    <label>CEP</label>
                    <input type="text" id="cep" name="cep">
                </div>
                <div class="col-6">
                    <label>CNPJ</label>
                    <input type="text" id="cnpj" name="cnpj">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Observações</label>
                    <textarea name="message" rows="10" id="others" name="others"></textarea>
                </div>
            </div>






</body>
</html>