<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Medsys</title>
    <link rel="icon" href="img/favicon.ico">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <header>
        <a href="index.html"><img class="logo" src="img/top-logo.png"></a>
        <div class="dropmenu">
            <ul>
                <li class="top-search"><input id="searchbox" type="text" name="search" class="general-search" placeholder="pesquisar"><i id="searchenter" class="fas fa-search"></i></li>
                <li>11 de Outubro de 2018</li>
                <li><a href="#"><img src="img/ic/ic_date.png"></a></li>
                <li><a href="#">Bryan Lourenço</a></li>
                <li><img src="img/avatar.png"></li>
            </ul>
        </div>
    </header>
    <main>
        <aside>
            <nav id="menu">
                <ul>
                    <li><p>Principal</p></li>
                    <li><a href=""><i class="far fa-chart-bar"></i>Indicadores</a></li>
                    <li><a href=""><i class="fas fa-columns"></i>Painel Principal</a></li>
                    <li><a href=""><i class="fas fa-tasks"></i>Plano de Condutas</a></li>
                    <li><p>Cadastros</p></li>
                    <li><a href=""><i class="far fa-user-circle"></i>Pacientes</a></li>
                    <li><a href=""><i class="far fa-hospital"></i>Hospitais</a></li>
                    <li><a href=""><i class="fas fa-notes-medical"></i>UTI's</a></li>
                    <li><p>Sistema</p></li>
                    <li><a href=""><i class="far fa-address-card"></i>Usuários</a></li>
                    <li><a href=""><i class="fas fa-cog"></i>Configurações</a></li>
                </ul>
            </nav>
        </aside>



        <!-- INICIO DO POPUP -->
        <section class="wdw-over">
            <div class="wdw">
                <!-- TOPO DO POPUP -->
                <div class="wdw-top">
                    <p>Leito 5 - Plano de Hoje</p>
                    <a href="#"><i class="fas fa-times"></i></a>
                </div>
                <div class="wdw-content">





                    <!-- CONTEUDO DO POPUP -->

                    <div id="popup-content">
                        <section>
                            <input type="checkbox" id="t-check1" name="c-check" hidden>
                            <label for="t-check1" class="bt-expand">Condutas pendentes <i class="fas fa-angle-down"></i></label>
                            <ul class="content-check">
                                <li class="cl">
                                    <p>Título da Conduta</p>
                                    <ul class="card-just">
                                            <li><i class="fas fa-caret-right"></i> Paciente com falência de acesso vascular - Rafael Melo às 13:40h</li>
                                            <li><i class="fas fa-caret-right"></i> Solicitar avaliação da cirurgia vascular - Priscilla Aquino às 16:30h</li>
                                    </ul>
                                    <div class="rw card-check">
                                    	<label class="checks"><input type="checkbox" checked="checked"><span class="checkmark"></span></label>
                                        <a href="#"><i class="far fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-comments"></i></a>
                                    </div>
                                </li>
                                <li class="cl">
                                    <p>Título da Conduta</p>
                                    <ul class="card-just">
                                        <li><i class="fas fa-caret-right"></i> Paciente com falência de acesso vascular - Rafael Melo às 13:40h</li>
                                    </ul>
                                	<div class="rw mgt10 mgb10">
			                            <input type="text" placeholder="Justificar conduta (ao clicar no ícone de edição)"><a class="bt rw mgl10" href="#">Adicionar <i class="fas fa-plus"></i></a>
			                        </div>
                                    <div class="rw card-check">
                                    	<label class="checks"><input type="checkbox" checked="checked"><span class="checkmark"></span></label>
                                        <a href="#"><i class="far fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-comments"></i></a>
                                    </div>
                                </li>
                                <li class="cl">
                                    <p>Título da Conduta</p>
                                    <ul class="card-just">
                                            <li><i class="fas fa-caret-right"></i> Paciente com falência de acesso vascular - Rafael Melo às 13:40h</li>
                                            <li><i class="fas fa-caret-right"></i> Solicitar avaliação da cirurgia vascular - Priscilla Aquino às 16:30h</li>
                                    </ul>
                                    <div class="rw card-check">
                                    	<label class="checks"><input type="checkbox" checked="checked"><span class="checkmark"></span></label>
                                        <a href="#"><i class="far fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-comments"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <input type="checkbox" id="t-check2" name="c-check" hidden>
                            <label for="t-check2" class="bt-expand">Condutas conclídas <i class="fas fa-angle-down"></i></label>
                            <ul class="content-check">
                                <li class="cl">
                                    <p>Título da Conduta</p>
                                    <ul class="card-just">
                                            <li><i class="fas fa-caret-right"></i> Paciente com falência de acesso vascular - Rafael Melo às 13:40h</li>
                                            <li><i class="fas fa-caret-right"></i> Solicitar avaliação da cirurgia vascular - Priscilla Aquino às 16:30h</li>
                                    </ul>
                                    <div class="rw card-check">
                                    	<label class="checks"><input type="checkbox" checked="checked"><span class="checkmark"></span></label>
                                        <a href="#"><i class="far fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-comments"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    

                    <!-- FIM DO CONTEUDO DO POPUP -->





                    <!-- BASE DO POPUP -->
                </div>
            </div>
        </section>
        <!-- FIM DO POPUP -->




    </main>
</body>
</html>