{% extends './default-page.html' %} 

{% block content %}
    
{% include "./components/header.html" %}
<main>
    {% include "./components/aside.html" %}
    <section id="content">
        <div class="header-title">
            <h1 class="bludrk">{{ hospital }}</h1>
            <!-- <h2 class="gre">{{ hospital }}</h2> -->
        </div>
        <div class="content-box shadow2">
        
        <div class="rwr">            
          <select id="listHospitais" value="">
            <option selected value=""><h1>Selecione Hospital</h1></option>
            {% for hospital in hospitais %}
            <option value="{{ hospital.Id }}"><h1>{{ hospital.name }}</h1></option>
            {% endfor %}
          </select>
        </div>  
        
            <div class="rwr">
                <a onclick="popupUti(true)"><i class="fas fa-plus"></i>Adicionar UTI</a>
            </div>
        
            <div class="rw">
                <table id="datatable">
                    <thead>
                        <tr>
                            <th >UTI</th>
                            <th style="width: 60px">LEITOS</th>
                            
                            <th>EDITAR</th>
                    <!--    {# start-comment
                              <th style="width: 130px">Telefone</th>
                              <th>Endereço</th> 
                            end-comment#} -->

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% include "./components/new-uti.html" %}
{% include "./components/update-uti.html" %}
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script>

    var _beds = []
    var _uti = {}

    let idHospital = $('#hospitais').val()

    // /local
    // Aqui é atribuido o ID do hospital selecionado.
    // Este id está atribuido ao 'value' do elemento <select> <option>.
    const popupUti = (display) => {
        if(display) $('#uti-popup').show()
        else $('#uti-popup').hide()
    }

    let table = $('#datatable').DataTable({
        data: {{ utis | dump | safe }},
        //EX: {"id":"","Id":"5ba3b2e74cf8a6be651b650e","name":"Hosp test POST","modules":["basic"]}
        columns: [

            { 'data': 'name'},
            { 'render': (data, type, row, meta) => {
                    return {{ leitosQtd }}
                }
            },
            
            {
                'data': 'Id', 'render': (data, type, row, meta) => {
                    return `<a onclick="updateUTI(${data})" ><i class="fas fa-edit"></i></a>`
                }, orderable: false
            }
        ],
        language: {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "_TOTAL_ Resultado(s)",
            "sInfoEmpty": "0 Resultado",
            "sInfoFiltered": "de _MAX_ Registro(s)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Resultados por página _MENU_",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }
        },
        dom: '<"top"ilf>t<"bottom"p>'
    })

    $('.dataTables_info').addClass('col-4')
    $('.dataTables_length').addClass('col-2')
    $('.dataTables_filter').addClass('col-5')

    // Control functions

    const updateUTI = (id) => {
      popupUti(true)
      idUTI = id
      let uti = utis.find((uti) => {
        if (uti.Id == id) return true
      });

      // Update popup values
      $('#name').val(uti.name)
      $('#hospital').val(uti.hospital)
      
      // Preencher table
      $('#leitos').val(uti.leitos)
    }

    const saveUpdateUTI = () => {
        sendUpdateUTI(idHospital,_uti.id,_uti,(result)=>{
            alert(result)
        })
    }

    const saveNewBed = () => {
        // Get and parse data
        let data = JSON.stringify({
            name: $('#bed-name').val(),
            status: "free",
            patient: "0",
            number: "1"
         })

        newBed(idHospital,_uti.id,data,(result)=>{
            alert(result)
        })
    }

    const saveUpdateBed = () => {
        // Get and parse data
        let data = JSON.stringify({
            name: $('#bed-name').val(),
            status: "free",
            patient: "0",
            number: "1"
         })

        updateBed(idHospital,_uti.id,data,(result)=>{
            alert(result)
        })
    }

    // Do update UTI
    const sendUpdateUTI = (idHospital,idUTI,data,callback) => {
        $.ajax({
          method: 'POST',
          url: `{{ _server }}/hospital/${idHospital}/update/uti/${idUTI}`,
          async: true,
          cache: false,
          xhrFields: {
            withCredentials: true
          },
          dataType: 'json',
          data,
          success: (data) => {
            // Limpar formulário
          },
          error: (jqXHR, textStatus, errorThrown) => {
            setTimeout(()=> {
              console.error(jqXHR, textStatus, errorThrown);
              alert(`Não foi possível atualizar a UTI '${data.name}'`);
            }, 1000);
          },
          complete: (data) => {
            callback(data)
          },
        })
    }

    // Do update bed data
    const updateBed = (idHospital,idLeito,data,callback) => {
        $.ajax({
          method: 'POST',
          url: `{{ _server }}/hospital/${idHospital}/update/rest/${idLeito}`,
          async: true,
          cache: false,
          xhrFields: {
            withCredentials: true
          },
          dataType: 'json',
          data,
          success: (data) => {
            // Limpar formulário
          },
          error: (jqXHR, textStatus, errorThrown) => {
            setTimeout(()=> {
              console.error(jqXHR, textStatus, errorThrown);
              alert(`Não foi possível atualizar o leito '${data.name}'`);
            }, 1000);
          },
          complete: (data) => {
            callback(data)
          },
        })
    }

    // Create new bed on UTI
    const newBed = (idHospital,idUTI,idUser,data,callback) => {
        $.ajax({
          method: 'POST',
          url: `{{ _server }}/hospital/${idHospital}/new/uti/${idUTI}/rest`,
          async: true,
          cache: false,
          xhrFields: {
            withCredentials: true
          },
          dataType: 'json',
          data,
          success: (data) => {
            $('#bed-name').val("")
          },
          error: (jqXHR, textStatus, errorThrown) => {
            setTimeout(()=> {
              console.error(jqXHR, textStatus, errorThrown);
              alert(`Não foi possível adicionar o leito '${data.name}'`);
            }, 1000);
          },
          complete: (data) => {
            callback(data)
          },
        })
    }

</script>
{% endblock %}