{% extends './default-page.html' %} 

{% block content %}

{% include "./components/header.html" %}
<main>
    {% include "./components/aside.html" %}
    <section id="content" class="rw">
        <div class="header-title">
            <h1 class="bludrk">PLANOS A SEGUIR</h1>
            <h2 class="gre">Planos a serem seguidos.</h2>
        </div>

        <div>

        {% for leito in leitos %}
        <a href="#register" id="mframe-card" onclick='popupPlano(true, "{{ leito.uti }}" ,"{{ leito.Id }}", "{{ leito.status }}", "{{ leito.patient }}");'>
            <div class="mframe-c-tit">
                <p>{{ leito.name }}<p>
            </div>
            <div class="mframe-c-content">
                <ul>
                    <li><i class="far fa-check-square"></i> 0/X</li>
                    <li><i class="far fa-comment"></i> 0</li>
                    <li><i class="fas fa-paperclip"></i> 0</li>
                    <li><i class="far fa-bell red"></i></li> <!-- red -->
                </ul>
                <div class="date">Atualização: 01/01/19 - 00:00</div>
            </div>
        </a>
        {% endfor %}

        <!-- Checo se o leito esta disponível, se n estiver, exibe esse card com o popup de adicionar paciente -->
        <a href="#" id="mframe-card">
            <div class="mframe-c-tit">
                <p>Adicionar Paciente ao Leito<p>
            </div>
            <div class="mframe-c-content">
                <i class="fas fa-plus-circle"></i>
            </div>
        </a>

        </div>
    </section>
</main>


{% include "./components/conducts.html" %}


{% endblock %}

{% block scripts %}
<script>
    var _patientId = "0"
    var _patient ={}
    var _idUti = ""
    var _idLeito= ""
    var _plist = []
    var _diaglist = []

    // PopUp novo plano de condutas
    const popupPlano = (display,idUti,idLeito,status,patient,name) => {
        if(display){
            _idLeito = idLeito
            _idUti = idUti
            if(status == "occuped"){
             
                $('#conduct-popup').show()
                $('#conduct-title').text(`${name} - Plano de Hoje`)

                // MELHORAR SEGURANÇA
                initConducts((open,done)=>{
                    $('#open-conducts').innerHTML = open
                    $('#closed-conducts').innerHTML = done
                })
             }
             
        }
        else {
            $('#conduct-popup').hide()
            _idLeito = ""
            _idUti = ""
        }
    }

    // Recupera os dados do paciente
    const getPatient = (idPatient,callback) => {
        $.ajax({
            url:`{{ _server }}/patient/${idPatient}`,
            method: 'GET',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            success: (data) => {
                _patientId = data.Id
                _patient = data
                callback(data)
            }
        })
    }

    const getInterventions = (callback) =>{
        $.ajax({
            url:`{{ _server }}/hospital/{{ Idhospital }}/list/rest/${_idLeito}/intervention`,
            method: 'GET',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            success: (data) => {
                callback(data)
            }
        })
    }

   $(document).ready(function () {
     $('.custom-url').attr('href', `/../hospital/{{Idhospital}}/list/uti`);
   });
</script>

<script src="/public/js/conduct.js"></script>
{% endblock %}